<mat-card>
    <mat-card-header>
        <mat-card-title><span i18n>Filters</span></mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form>
            <mat-form-field>
                <mat-label><span i18n>Name</span></mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label><span>Email</span></mat-label>
                <input matInput>
            </mat-form-field>    
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="primary" i18n>Filter</button>
        <button mat-flat-button color="warn" i18n>Clear</button>
    </mat-card-actions>
</mat-card>

<mat-divider></mat-divider>

<table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="username">
        <th mat-header-cell="" *matHeaderCellDef i18n>Username</th>
        <td mat-cell *matCellDef="let element">{{element.username}}</td>
    </ng-container>

    <ng-container matColumnDef="displayName">
        <th mat-header-cell="" *matHeaderCellDef i18n>Display Name</th>
        <td mat-cell *matCellDef="let element">{{element.displayName}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell="" *matHeaderCellDef i18n>E-Mail</th>
        <td mat-cell *matCellDef="let element">{{element.email}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
